
<section class="bg-dark pb-3 pt-3">
  <div class="container">
    <a class="nav-icon" href="#">
      <img alt="favicon" title="Início" width="60px" src="../../../../favicon.ico"/>
    </a>
    <mat-menu #aboveMenu="matMenu" yPosition="above">

    </mat-menu>

    <button mat-button [matMenuTriggerFor]="belowMenu"
            class="text-white"
    >Recolha</button>
    <mat-menu #belowMenu="matMenu" yPosition="below">
      <a mat-menu-item href="/ind">Indiferenciado</a>
      <a mat-menu-item href="/pap">Papel</a>
      <a mat-menu-item href="/pla">Plástico</a>
      <a mat-menu-item href="/vid">Vidro</a>
      <a mat-menu-item href="/rub">RUB</a>
    </mat-menu>

    <button mat-button [matMenuTriggerFor]="beforeMenu"
            class="text-white"
    >Limpeza</button>
    <mat-menu #beforeMenu="matMenu" xPosition="before">
      <a mat-menu-item href="/cj">Cortes de jardim</a>
      <a mat-menu-item href="/ofu">Objectos fora de uso</a>
    </mat-menu>
  </div>
</section>
