<footer class="page-footer font-small p-5 bottom bg-light">
  <div class="footer-copyright text-center">
    <a class="mr-5" href="https://ambiente.cascais.pt/">
      <img src="assets/images/cores_completo-01.svg" class="img-fluid" alt="logo-cascais-ambiente" width="250px" >
    </a>
    <a href="https://www.cascais.pt/">
      <img src="assets/images/cascais-logo.png" class="img-fluid" alt="logo-cm-cascais" width="200px" >
    </a>


  </div>

  <div class="footer-copyright text-center py-3">© {{ ano }} Copyright:
    <a href="https://ambiente.cascais.pt/"> Cascais Ambiente</a>
  </div>
</footer>
