
<mat-form-field
  *ngIf="!simples">
  <input matInput type="text" (keyup)="filter($event.target.value)" placeholder="Filtrar">
</mat-form-field>


<mat-table [dataSource]="dataSource" matSort>

  <ng-container
    *ngFor="let column of extrasTabela.titulos; let colIndex = index"
    matColumnDef="{{column}}">
    <mat-header-cell
      *matHeaderCellDef
      mat-sort-header
      [matTooltip]="getToolTip(colIndex)"
    >{{column | uppercase}}

    </mat-header-cell>
    <mat-cell *matCellDef="let element">{{ element.data[column] | formatNumbers }}</mat-cell>
  </ng-container>

  <mat-header-row *matHeaderRowDef="extrasTabela.titulos"></mat-header-row>
  <mat-row *matRowDef="let row; columns: extrasTabela.titulos"></mat-row>
</mat-table>

<mat-paginator
  *ngIf="!simples"
  #paginator
  [pageSize]="10"
  [pageSizeOptions]="[5, 10, 20, 50]">
</mat-paginator>
