
<div class="alert alert-danger p-5"
     *ngIf="error">
  <h2>Ocorreu um erro na pesquisa de dados!!!</h2>
  <p>{{ error }}</p>
</div>

<app-spinner
  *ngIf="(!modelos || modelos.length === 0 || !geojsonObject) && !error">
</app-spinner>

<section
  *ngIf="!error && modelos.length > 0 && geojsonObject">

  <div class="row">
    <div class="col-md-4">
      <app-form
        [slugProduto]="slugProduto"
        [modelos]="modelos"
        [zonas]="zonas"
        [turnos]="turnos"
      ></app-form>
    </div>
    <div class="col-md-8">
      <app-mapa-l
        [geojsonObject]="geojsonObject"
      ></app-mapa-l>
    </div>
  </div>


</section>

