<div class="wrap">

  <div class="box" style="background: slategray">
    <a href="/ind">
      <h2>Indferenciado</h2>
    </a>
  </div>

  <div class="box" style="background: blue">
    <a href="/pap">
      <h2>Papel e Cartão</h2>
    </a>
  </div>

  <div class="box" style="background: yellow">
    <a href="/pla">
      <h2>Plástico e Metal</h2>
    </a>
  </div>

  <div class="box" style="background: darkgreen">
    <a href="/vid">
      <h2>Vidro</h2>
    </a>
  </div>

  <div class="box" style="background: orangered">
    <a href="/rub">
      <h2>RUB</h2>
    </a>
  </div>

  <div class="box" style="background: forestgreen">
    <a href="/cj">
      <h2>Cortes de Jardim</h2>
    </a>
  </div>

  <div class="box" style="background: purple">
    <a href="/ofu">
      <h2>Objectos Fora de Uso</h2>
    </a>
  </div>

</div>
