
<section class="container">
  <h4 class="btn btn-sm btn-info col-1 toogle mt-1"
      #toggleFiltroButton>
    <span
      *ngIf="!showFiltro" class="material-icons">filter_list</span>
    <span
      *ngIf="showFiltro" class="material-icons">keyboard_backspace</span>
  </h4>
</section>

<section class="container">
  <app-filtro
    *ngIf="showFiltro && slugProduto"
    [slugProduto]="slugProduto"
  ></app-filtro>
</section>

<div class="alert alert-danger p-5"
  *ngIf="error">
    <h2>Ocorreu um erro na pesquisa de dados!!!</h2>
    <p>{{ error }}</p>
    <button class="btn btn-danger" (click)="onHandleErro()">Tentar de novo</button>
</div>

<section class="container">
  <app-dados
    *ngIf="dados && !error"
    [dados]="dados"
    [estado]="estado"
  ></app-dados>
</section>

<app-spinner
  *ngIf="!dados && !error">
</app-spinner>



