
<section class="container">

  <h4 class="btn-block btn-danger p-2 mt-2 mb-2"
      #toggleFiltroButton
  ><span>{{ texto }}</span> base de análise/comparação</h4>

  <app-filtro
    *ngIf="showFiltro && slugProduto"
    [slugProduto]="slugProduto"
    (dataChanged)="OnDataChanged($event)"
  ></app-filtro>
</section>

<div class="alert alert-danger p-5"
  *ngIf="error">
    <h2>Ocorreu um erro na pesquisa de dados!!!</h2>
    <p>{{ error }}</p>
    <button class="btn btn-danger" (click)="onHandleErro()">Tentar de novo</button>
</div>

<section class="container">
  <app-dados
    *ngIf="dados && !error"
    [estado]="estado"
    [dados]="dados"
    [slugProduto]="slugProduto"
  ></app-dados>
</section>

<section class="container">
  <div class="row justify-content-center">
  <div
    class="col text-center p-5"
    *ngIf="!dados && !error">
    <mat-progress-spinner mode="indeterminate"></mat-progress-spinner>
  </div>
  </div>
</section>
