


<section class="container">

  <h4 class="btn-block btn-danger p-2 mt-2 mb-2"
      #toggleFiltroButton
  ><span>{{ texto }}</span> base de análise/comparação</h4>

  <app-filtro
    *ngIf="showFiltro"
    [slugProduto]="slugProduto"
    [modelos]="modelos"
    [zonas]="zonas"
    [turnos]="turnos"
    [geojsonObject]="geojsonObject"
    (dataChanged)="OnDataChanged($event)"
    (circuitosChanged)="OnCircuitosChanged($event)"
  ></app-filtro>
</section>

<section class="container">
  <app-dados
    *ngIf="dados"
    [slugProduto]="slugProduto"
    [dados]="dados"
    [circuitos]="circuitos"
  ></app-dados>
</section>
