<div class="row text-center align-middle mb-2 mt-4">
  <button class="h4-btn mr-2 ml-2 p-3 btn-sm text-center btn btn-block text-uppercase col"
          #btnGlobal
          appBackgroundColor [slugProduto]="slugProduto" [index]="0" [activeComparativo]="activeComparativo"
          [disabled]="dados === undefined"
  >Global</button>
  <button class="h4-btn mr-2 ml-2 p-3 btn-sm text-center btn btn-block text-uppercase col"
          #btnModelos
          appBackgroundColor [slugProduto]="slugProduto" [index]="0" [activeComparativo]="activeComparativo"
          [disabled]="dados === undefined"
  >Circuitos</button>
  <button class="h4-btn mr-2 ml-2 p-3 btn-sm text-center btn btn-block text-uppercase col"
          #btnTurnos
          appBackgroundColor [slugProduto]="slugProduto" [index]="0" [activeComparativo]="activeComparativo"
          [disabled]="dados === undefined"
  >Turnos</button>
  <button class="h4-btn mr-2 ml-2 p-3 btn-sm text-center btn btn-block text-uppercase col"
          #btnZonas
          appBackgroundColor [slugProduto]="slugProduto" [index]="0" [activeComparativo]="activeComparativo"
          [disabled]="dados === undefined"
  >Zonas</button>
  <button class="h4-btn mr-2 ml-2 p-3 btn-sm text-center btn btn-block text-uppercase col"
          #btnAnual
          appBackgroundColor [slugProduto]="slugProduto" [index]="0" [activeComparativo]="activeComparativo"
          [disabled]="dados === undefined"
  >Anual</button>
  <button class="h4-btn mr-2 ml-2 p-3 btn-sm text-center btn btn-block text-uppercase col"
          #btnMensal
          appBackgroundColor [slugProduto]="slugProduto" [index]="0" [activeComparativo]="activeComparativo"
          [disabled]="dados === undefined"
  >Mensal</button>
  <button class="h4-btn mr-2 ml-2 p-3 btn-sm text-center btn btn-block text-uppercase col"
          #btnCircuitos
          appBackgroundColor [slugProduto]="slugProduto" [index]="0" [activeComparativo]="activeComparativo"
          [disabled]="dados === undefined"
  >Listagem</button>
</div>

<div class="row text-center align-middle mb-2 mt-4"
  *ngIf="activeComparativo !== 6"
>
  <button class="h4-btn mr-2 ml-2 p-2 btn-sm text-center btn btn-block text-uppercase col"
          #btnSum
          [ngClass]="{'btn-dark text-white': activeAgrupamento !== 0, 'btn-outline-dark text-dark': activeAgrupamento === 0}"
          [disabled]="!activeComparativo"
  >Acumulado</button>
  <button class="h4-btn mr-2 ml-2 p-2 btn-sm text-center btn btn-block text-uppercase col"
          #btnAvg
          [ngClass]="{'btn-dark text-white': activeAgrupamento !== 1, 'btn-outline-dark text-dark': activeAgrupamento === 1}"
          [disabled]="!activeComparativo"
  >Mèdias</button>
  <button class="h4-btn mr-2 ml-2 p-2 btn-sm text-center btn btn-block text-uppercase col"
          #btnRat
          [ngClass]="{'btn-dark text-white': activeAgrupamento !== 2, 'btn-outline-dark text-dark': activeAgrupamento === 2}"
          [disabled]="!activeComparativo"
  >Rácios</button>
</div>

<!--<div class="comparativo"
     #comparativoGlobal
>
  <app-comparativo
    [dados]="dadosGeral['global_data']"
    [extras]="dadosGeral['extras']"
  ></app-comparativo>
</div>-->

<div class="table-responsive">
  <app-tabela
    *ngIf="activeAgrupamento"
    [dadosTabela]="dadosAgrupamento"
    [extrasTabela]="extraAgrupamento"
  ></app-tabela>
</div>

<div class="row justify-content-center">
  <app-conjunto-graficos
    *ngIf="activeAgrupamento"
  ></app-conjunto-graficos>
</div>

