
.btn {
  margin: 5px 15px !important;
  padding: 15px 5px !important;
}

button:disabled {
  cursor: not-allowed;
  pointer-events: all !important;
}

.btn-outline-ofu {
  background-color: #ffffff;
  border: 1px solid #9b59b6;
  color: #9b59b6;
}

.btn-outline-ofu:hover {
  background-color: #9b59b6;
  border: 1px solid #9b59b6;
  color: white;
}

.btn-cj {
  background-color: #17693a;
  border: 1px solid #17693a;
  color: white;
}

.btn-cj:hover {
  background-color: #0b311b;
  border: 1px solid #0b311b;
  color: white;
}

.btn-outline-cj {
  background-color: #ffffff;
  border: 1px solid #17693a;
  color: #17693a;
}

.btn-outline-cj:hover {
  background-color: #17693a;
  border: 1px solid #17693a;
  color: white;
}
