/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }


mat-header-cell, mat-cell {
  justify-content: center;
}

.mat-row:nth-child(even){
  background-color:#ececec;
}

.mat-row:nth-child(odd){
  background-color:#fafafa;
}

.mat-cell:first-child{
}

.mat-header-cell {
  background: #171a1d;
  color: white;
}

.mat-table {
  overflow-x: scroll;
}

.mat-cell,
.mat-header-cell {
  word-wrap: initial;
  display: table-cell;
  line-break: unset;
  width: 100%;
  overflow: hidden;
  vertical-align: middle;
  text-align: center;
  font-size: 90%;
}

.mat-cell {
  font-family: monospace;
  white-space: nowrap;
  padding: 0 10px;
}

.mat-header-cell {
  padding: 10px 10px;
}

.mat-row,
.mat-header-row {
  display: table-row;
  min-height: 25px;
}
