/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }



.numeric-field {
  font-family: monospace;
  white-space: nowrap;
}

mat-header-cell, mat-cell {
  justify-content: center;
}

.mat-row:nth-child(even){
  background-color:#ececec;
}

.mat-row:nth-child(odd){
  background-color:#fafafa;
}

.mat-cell:first-child{
}

.mat-header-cell {
  background: #171a1d;
  color: white;
}
