html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.mat-table {
  overflow-x: scroll;
}

.mat-header-cell {
  padding: 10px 10px;
  background: #171a1d;
  color: white;
  font-size: 80%;
}

.mat-row,
.mat-header-row {
  display: table-row;
  min-height: 25px;
}

.mat-row:nth-child(even) {
  background-color: #ececec;
}

.mat-row:nth-child(odd) {
  background-color: #fafafa;
}

.mat-cell,
.mat-header-cell {
  word-wrap: initial;
  display: table-cell;
  line-break: unset;
  width: 100%;
  overflow: hidden;
  vertical-align: middle;
  text-align: center;
}

.mat-cell {
  font-family: monospace;
  white-space: nowrap;
  padding: 0 10px;
  font-size: 90%;
}


.map-marker{
  font-family: monospace !important;
  font-size: 80%;
}

.legenda {
  color: white;
  width: 110%;
}

.legenda-item {
  padding: 5% 10%;
  font-size: 120%;
  font-weight: bold;
}

.legenda-item.manha {
  background: tomato;
}

.legenda-item.tarde {
  background: yellowgreen;

}

.legenda-item.noite {
  background: dodgerblue;

}

